:root {
  --body-gradient: linear-gradient(
    62deg,
    hsl(0, 0%, 6%) 0%,
    hsl(0, 0%, 9%) 90%
  );
  --body-clr: hsl(0, 0%, 6%);

  --text-clr: hsla(0, 0%, 94%);
  --text-clr-light: hsla(0, 0%, 77%);
  --border-clr: hsla(0, 0%, 99%);
  --btn-clr: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  --btn-clr-alt: linear-gradient(315deg, #0093e9 0%, #80d0c7 100%);
}

.app {
  color: var(--text-clr);
  background-color: var(--body-clr);
  background-image: var(--body-gradient);
  max-width: 100vw;
  min-height: 100vh;
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}
main {
  padding: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
